body, li a{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(111, 26, 190);
}

main {
    padding: 20px 20px;
}

main article, main h2{
    margin-bottom: 30px;
}

footer {
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(111, 26, 190);
    color: rgb(255, 255, 255);
}

img {
    width: 10rem;
}

.Info article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}