body{
    background-color: gray;
    height: 100vh;
}

.gridContainer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

}

.gridContainer article{
    background-color: aquamarine;
    padding: 10px;
    border: 3px solid white;
}

.gridContainer article:first-child{
    background-color: rgb(232, 135, 0);
    grid-column: 1/span 3;
}

.gridContainer article:nth-child(2){
    background-color: rgb(47, 138, 55);
    grid-row: 2/span 2;
}

.gridContainer article:nth-child(3){
    grid-column: 2/span 2;
}

.gridContainer article:nth-child(4){
    background-color: rgb(253, 4, 87);
}

.gridContainer article:last-child{
    background-color: rgb(232, 135, 0);
}