body{
    background-color: gray;
    height: 100vh;
}

.gridContainer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;

}

.gridContainer article{
    background-color: aquamarine;
    padding: 10px;
    border: 3px solid white;
}

.gridContainer article:first-child{
    background-color: rgb(232, 135, 0);
    grid-column: 1/span 4;
    grid-row: 1/span 2;
}

.gridContainer article:nth-child(2){
    grid-column: 5/span 4;
    grid-row: 1/span 2;
}

.gridContainer article:nth-child(3){
    background-color: rgb(253, 4, 87);
    grid-column: 1/span 4;
    grid-row: span 6;
}

.secondGridContainer {
    grid-row: span 6;
    grid-column: span 4;
    background-color: rgb(47, 138, 55);
    display: grid;
}

.secondGridContainer article{
    padding: 10px;
    border: 3px solid white;
    margin: 10px;
}

.secondGridContainer article:first-child{
    background-color: aquamarine;
    grid-column: 1/span 8;
    grid-row: 1;
}

.secondGridContainer article:nth-child(2){
    background-color: rgb(48, 174, 113);
    grid-column: 1/span 4;
    grid-row: 2;
}

.secondGridContainer article:last-child{
    background-color: rgb(232, 135, 0);
    grid-column: 5/span 4;
    grid-row: 2;
}