body{
    background-color: gray;
    height: 100vh;
}

.gridContainer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;

}

.gridContainer article{
    background-color: aquamarine;
    padding: 10px;
    border: 3px solid white;
}

.gridContainer article:first-child{
    background-color: rgb(232, 135, 0);
    grid-column: 1/span 4;
    grid-row: 1/span 2;
}

.gridContainer article:nth-child(2){
    background-color: rgb(253, 4, 87);
    grid-column: 5/span 4;
    grid-row: 1/span 2;
}

.gridContainer article:nth-child(3){
    background-color: rgb(47, 138, 55);
    grid-column: 1/span 3;
    grid-row: span 4;
}

.gridContainer article:nth-child(4){
    
    grid-column: span 5;
    grid-row: span 4;
}

.gridContainer article:last-child{
    background-color: rgb(232, 135, 0);
    grid-column: span 8;
}